
## <summary>policy for redecoin</summary>


########################################
## <summary>
##	Transition to redecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`redecoin_domtrans',`
	gen_require(`
		type redecoin_t, redecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, redecoin_exec_t, redecoin_t)
')


########################################
## <summary>
##	Execute redecoin server in the redecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redecoin_initrc_domtrans',`
	gen_require(`
		type redecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, redecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search redecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redecoin_search_lib',`
	gen_require(`
		type redecoin_var_lib_t;
	')

	allow $1 redecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read redecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redecoin_read_lib_files',`
	gen_require(`
		type redecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, redecoin_var_lib_t, redecoin_var_lib_t)
')

########################################
## <summary>
##	Manage redecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redecoin_manage_lib_files',`
	gen_require(`
		type redecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, redecoin_var_lib_t, redecoin_var_lib_t)
')

########################################
## <summary>
##	Manage redecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redecoin_manage_lib_dirs',`
	gen_require(`
		type redecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, redecoin_var_lib_t, redecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a redecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`redecoin_admin',`
	gen_require(`
		type redecoin_t;
		type redecoin_initrc_exec_t;
		type redecoin_var_lib_t;
	')

	allow $1 redecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, redecoin_t)

	redecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 redecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, redecoin_var_lib_t)

')

